<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Edit your chat here:<%=cha.id%></h3>
    <p>This chat is from<b> <%=cha.from%></b> to <b><%=cha.to%></b></p>
  <form method="POST" action="/chats/<%=cha.id%>?_method=PUT">
    <textarea name="msg" rows="10" cols="19"><%=cha.msg%></textarea>
    <button>Edit</button>
  </form>
</body>
</html>