<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini WhatsApp</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form method="GET" action="/chats/new">
<button>
    New Chats!
   </button><br>
    </form>
   
     <% for (let ch of chats) {%> 
        <div class="history">
            <div class="chat">
                <p>from:<%=ch.from%></p>
            <div class="msg">
                <p><%=ch.msg%></p>
            </div>
            <p>Recieved by: <i><%=ch.to%></i></p>
                  <p><%=ch.created.toString().split(" ")[4]%></p>
                  <p><%=ch.created.toString().split(" ").slice(0,4).join("-")%></p>

              </div>
              <br><br>
        
              </div>
        <%}%>
</body>
</html>